registrations new page

<%=  form_for @user, url: sign_up_path do |f| %>

<%=  f.label :first_name %>
<%=  f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit "Sign Up!" %>

<% end %>



<section class="comments">
  <h1>Comments</h1>
  <article class="comment ">
    <div class="meta">
      <img src="//www.gravatar.com/avatar/" class="avatar">
      <h3><a href="#" class="author">John Doe</a></h3>
        <a href="#" class="date">
          <time datetime="2015-01-01">Jan 1, 2015 at 9:18 AM</time>
        </a>
    </div>
    <div class="content">
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
  </article>
  <article class="comment ">
    <div class="meta">
      <img src="//www.gravatar.com/avatar/" class="avatar">
      <h3><a href="#" class="author">Jane Doe</a></h3>
        <a href="#" class="date">
          <time datetime="2015-01-01">Jan 1, 2015 at 10:24 AM</time>
        </a>
    </div>
    <div class="content">
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    </div>
  </article>
</section>
