    <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        //$(".btn1").click(function(){
        //    $("p").slideUp();
        //});
        $(".SignIn").click(function(){
            $(".col-sm-12").slideDown();
        });
      });
    </script>
    </head>

    <div class="header navbar-fixed-top">
    <h3>The Zukini!</h3>
        <ul class="nav navbar-nav pull-right">
        <li class= "SignIn"> Sign In</li>
        <li><%= link_to "Sign up", sign_up_path %></li>
        </ul>
    </div>

    <%= form_tag sign_in_path do %>

    <div class="col-sm-12">
      <div class="well col-md-5 col-sm-offset-3">
        <div class="form-group">
          <h2 class = "page-header">Lets Get Growing!</h2>

          <div class="form-horizontal">

       <div class="form-group"></div>
         <%= label_tag :email, "Email", class: "pull-left control-label" %>
         <div class="col-md-4"></div>
          <%= email_field_tag :email,"", autofocus: true, class: "col-sm-12 form-control" %>



       <div class="form-group"></div>
         <%= label_tag :password,"Password", class: "pull-left control-label" %>
         <div class="col-md-4"></div>
          <%= password_field_tag :password,"",class: "col-sm-12 form-control" %>



               <div class="form-group">
                 <div class="col-sm-6 pull-left"><br>
                   <%= submit_tag "Sign In", class: "btn btn-default"%>
                 </div>
               </div>

          <% end %>
          </div>
        </div>
      </div>
    </div>

<div class="mainCenter">
  <p>
    1. Use Compost
    <br>
  Spread it around plants to ward off disease; put a bit in your potting mix to add slow-release micronutrients; top-dress beds with it to improve soil structure no matter what kind of soil you have; use it to help restore life to soil that's exhausted from years of chemical abuse. Sprinkle it on the lawn spring and fall to encourage the shallow grass roots... It's almost impossible to use too much.
  </p>

 <p>
  2. Plant Crops in Wide Beds
    <br>
  Crops are anything planted for harvesting: vegetables, cutting flowers, shrubs on hold to be transplanted... keeping these grouped as tightly as possible in beds that are not trod upon cuts down on weeding, conserves water, allows the compost to be concentrated where it will do the most good and improves soil structure year upon year as the layers of organic matter pile up. These beds are frequently raised or at least corralled neatly by boards or — I saw it once and am still impressed all these years later — by long slabs of granite. Aesthetics aside, the primary virtue of this tidiness is easier path maintenance. From the soil and plant point of view it's the special treatment that matters.
 </p>

  <p>
    4. Mulch
    <br>
    Mulch clothes the soil in a protective barrier that moderates temperature, conserves water, helps keep soil-borne diseases from splashing up and helps keep soil itself from splashing up — on your lettuce, for instance. Almost any organic mulch that will rot down into the soil is almost always preferable to landscape fabric with some kind of icing, but choosing the right mulch for each job is worth the extra effort.
    Straw for instance is inexpensive, but it's untidy compared to wood chips and it breaks down a lot faster. That suits straw to the vegetable patch while the chips win under shrubs. (The specialized mulches for warming soil and/or reflecting back just the right light upon your vegetables are seldom biodegradable. My experiments with them are ongoing so all I can say at this point is: Remember that they work only when light falls on them; the more your garden resembles a jungle — no names, please — the less effective they will be.)
  </p>

  <p>
  5. Feed the Soil, Not the Plants
  <br>
  Short version: Junk food, including organic junk food, has plenty of calories and may include added vitamins. But it's not great long-term nourishment, for many reasons we've learned and others we can so far only observe. Our bodies know the difference between eating a carrot and taking a capsule of vitamin A. Same deal with the soil.
  Longer version: Plant health depends on healthy roots; healthy roots depend on healthy soil for air, water and nutrients delivered in forms plants can use. Soil rich in organic matter — compost! — is generally rich in nutrients and in the teeming life (fungi, bacteria, worms, etc.) that makes those nutrients available to the plants.
  Ornamental plants in good soil seldom need added fertilizer, and crop plants that do need extra food need less of it when it's released slowly by friendly soil from things like rock powders, kelp and green manures. For an example of how this works with nitrogen, one of the most important nutrients, here's a Rodale Institute Research Report.
</p>

<p>
  6. Share Something
  <br>
  If you've got a garden, you're rich.
  Got seeds? The Seed Savers Exchange isn't just about vegetables; there's an affiliated Flower and Herb exchange, too. Got flowers? Hospitals won't take them anymore (allergies), but group homes, soup kitchens and — why not? — your neighborhood hardware store might be delighted with a bit of brightening up. Got produce? There's a national umbrella campaign for vegetable gardeners who want to plant a row for the hungry, and many food banks, farmers' markets and community gardens have set up organized donations. But there's no law that says you can't just give your extra beans to anyone who genuinely wants them. Hunger isn't always physical.
  The garden itself is worth sharing too. Garden tours are popular fundraisers so if you're up for the attendant stress, it's likely there's a cause that's looking for locations. In my experience with these things there's always a lot more preparation than I've allowed for... but also a lot more given back in new friends, new ideas and gazillions of pats.
</p>

<p>
  7. Be There
  <br>
  Whether Lao-Tse actually said it or not, it's true: The best fertilizer is the shadow of the gardener.</p>
</p>

  <div class="detailBox">
      <div class="titleBox">
        <label>Lets hear from you!</label>
          <button type="button" class="close" aria-hidden="true">&times;</button>
      </div>
      <div class="commentBox">

          <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="actionBox">
          <ul class="commentList">
              <li>
                  <div class="commenterImage">
                    <img src="http://lorempixel.com/50/50/people/6" />
                  </div>
                  <div class="commentText">
                      <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                  </div>
              </li>
              <li>
                  <div class="commenterImage">
                    <img src="http://lorempixel.com/50/50/people/7" />
                  </div>
                  <div class="commentText">
                      <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                  </div>
              </li>
              <li>
                  <div class="commenterImage">
                    <img src="http://lorempixel.com/50/50/people/9" />
                  </div>
                  <div class="commentText">
                      <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                  </div>
              </li>
          </ul>
          <form class="form-inline" role="form">
              <div class="form-group">
                  <input class="form-control" type="text" placeholder="Your comments" />
              </div>
              <div class="form-group">
                  <button class="btn btn-default">Add</button>
              </div>
          </form>
      </div>
  </div>


</div>
