<div class="header navbar-fixed-top">
   <h3><%="#{current_user.first_name}!" %></h3>
    <ul class="nav navbar-nav pull-right">
     <li><%= link_to "Sign Out", sign_out_path %></li>
    </ul>
</div>

<div class='container'>
    <div class="row top-buffer">
      <div class="col-md-8">
        <tr>
          <head><h3>Notes</h3></head>
            <td>
            <% @garden.notes.each do |note| %>
            </td>
         </tr>
      </div>
    </div>
</div>



      <div class='container'>
        <div class="col-md-9 text-custom">
          <%= note.note %>
        </div>
      </div>

  <% end %>


    <%= form_for [@garden, @note], url: user_garden_notes_path(current_user, @garden) do |f| %>
    <p>
      <div class="col-md-9 pull-right">
        <%= f.text_area :note, class: "form-control" %><br>
          </p>
            <%= f.submit "Add Note", class: "btn btn-primary" %>
              </div>

            <% end %>
